version: '3.8'

services:

  db:
    image: postgres:17.5
    container_name: db
    environment:
      POSTGRES_DB: ${DB_NAME:-msi}
      POSTGRES_USER: ${DB_USERNAME:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: