spring:
  docker:
    compose:
      enabled: false
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:msi}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: false
#    locations: classpath:db/migration

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true